name: "Josh Sherman"
{{ $email := promptString "email" -}}
gpgKeyId: "34230383"

merge:
  command: "nvim"
  args:
    - "d"
    - "{{ "{{" }} .Destination {{ "}}" }}"
    - "{{ "{{" }} .Source {{ "}}" }}"
    - "{{ "{{" }} .Target {{ "}}" }}"

encryption: "gpg"
gpg:
  recipient: "{{ $email }}"

pinentry:
  command: "pinentry"

git:
  autoCommit: true

progress: true

data:
  email: {{ $email | quote }}
  editor: nvim
