name: "Josh Sherman"
{{ $email := promptStringOnce . "email" "Email address" -}}
gpgKeyId: "334F4C7D"

merge:
  command: "nvim"
  args:
    - "d"
    - "{{ "{{" }} .Destination {{ "}}" }}"
    - "{{ "{{" }} .Source {{ "}}" }}"
    - "{{ "{{" }} .Target {{ "}}" }}"

encryption: "gpg"
gpg:
  recipient: "334F4C7D"

hooks:
  read-source-state:
    pre:
      command: .local/share/chezmoi/src/.chezmoiscripts/.index.sh

pinentry:
  command: "pinentry"

git:
  autoCommit: false

progress: true

data:
  email: {{ $email | quote }}
  editor: nvim
