!.oh-my-zsh/plugins
!.oh-my-zsh/vi-mode
!.oh-my-zsh/vi-mode/**
!.oh-my-zsh/zsh-syntax-highlighting
!.oh-my-zsh/zsh-syntax-highlighting/**
!.oh-my-zsh/zsh-autosuggestions
!.oh-my-zsh/zsh-autosuggestions/**
.oh-my-zsh/cache/**
.oh-my-zsh/plugins/**
.oh-my-zsh/templates/**
.oh-my-zsh/custom/themes/powerlevel10k/**/*.zwc
.bash_aliases
.config/git/cookies
.config/op/**
.config/yarn/**
.config/configstore/**
.config/thefuck/**
.config/gh/**
.inputrc
.oh-my-zsh
.oh-my-zsh/**
.p10k.zsh
.ssh/id_rsa
.ssh/id_rsa.pub
.tmux.conf
.DS_Store
