.oh-my-zsh
.oh-my-zsh/**
.oh-my-zsh/custom/themes/powerlevel10k/gitstatus/*.zwc
.oh-my-zsh/custom/themes/powerlevel10k/internal/*.zwc
.oh-my-zsh/custom/themes/powerlevel10k/*zsh-theme.zwc
!.oh-my-zsh/
!.oh-my-zsh/custom/**
!.oh-my-zsh/plugins
!.oh-my-zsh/vi-mode
!.oh-my-zsh/vi-mode/**
!.oh-my-zsh/zsh-syntax-highlighting
!.oh-my-zsh/zsh-syntax-highlighting/**
!.oh-my-zsh/zsh-autosuggestions
!.oh-my-zsh/zsh-autosuggestions/**
.bash_aliases
.config/git/cookies
.config/op/**
.config/yarn/**
.config/configstore/**
.config/thefuck/**
.config/gh/**
.inputrc
.ssh/id_rsa
.ssh/id_rsa.pub
.DS_Store
