name: "Josh Sherman"
{{ $email := promptString "email" -}}
{{ $gpgKeyId := promptString "gpg key" -}}

merge:
  command: "nvim"
  args:
    - "d"
    - "{{ "{{" }} .Destination {{ "}}" }}"
    - "{{ "{{" }} .Source {{ "}}" }}"
    - "{{ "{{" }} .Target {{ "}}" }}"

encryption: "gpg"
gpg:
  recipient: "{{ $gpgKeyId }}"

hooks:
  read-source-state:
    pre:
      command: ".local/share/chezmoi/install-password-manager.sh"

git:
  autoCommit: true

progress: true

data:
  email: {{ $email | quote }}
  editor: nvim
  gpgKeyId: {{ $gpgKeyId | quote }}
